name: Despliegue a Desarrollo (Dev)

on:
  push:
    branches:
      - dev

jobs:
  integration-test-and-deploy:
    
    runs-on: ubuntu-latest

    steps:
      
      - name: Descargar código fuente
        uses: actions/checkout@v4

      - name: Levantar entorno y correr pruebas de integración 
        run: docker compose up --build --exit-code-from tester

      
      - name: Apagar contenedores 
        if: always() 
        run: docker compose down
      
      
      - name: Simular Deploy a Desarrollo 
        run: echo "Tests exitosos. Iniciando despliegue a servidor de desarrollo..."